---
import { BASE_URL } from "../../configs/constant.conf";
import ProductBadge from "./ProductBadge.astro";

interface Props {
  thumb_src: string;
  thumb_alt: string;
  title: string;
  description: string;
  price: number;
  position: string;
  href: string;
}
const {
  thumb_src,
  thumb_alt,
  title,
  description,
  price,
  position,
  href,
}: Props = Astro.props;
const classList = "card-body " + "text-" + position;
---

<div class="card card-product border mb-3 md-md-5 shadow-xs border-radius-lg">
  <a href={href}>
    <div class="height-350">
      <img
        class="w-100 h-100 p-4 rounded-top"
        src={thumb_src}
        alt={thumb_alt}
      />
    </div>
    <div class={classList}>
      {title && <h4 class="font-weight-bold">{title}</h4>}
      {
        description && (
          <div class="text-body product-excerpt">
            <Fragment set:html={description} />
          </div>
        )
      }
      {
        price && (
          <h4 class="mb-0 text-lg mt-2 mb-3">${price.toLocaleString()}</h4>
        )
      }
      <a
        href={href}
        class="btn btn-dark btn-sm d-flex align-items-center mx-auto text-center justify-content-center"
      >
        Buy now
      </a>
    </div>
  </a>
</div>
