---
import { BASE_URL } from "../../configs/constant.conf";
interface Props {
  thumb_src: string;
  title: string;
  collection: string;
  classList?: string;
  cta?: string;
  url?: string;
}
const { thumb_src, title, collection, classList, cta, url }: Props =
  Astro.props;
const classBody =
  cta != null ? "align-items-end d-flex" : "text-center w-100 pt-8";
---

<div class="cat-item position-relative h-100">
  <a
    href={url}
    class="position-absolute top-0 start-0 w-100 h-100 b-block cat-href"></a>
  <div
    class={`card card-background align-items-start mb-4 mb-lg-0 ${classList}`}
  >
    <div
      class="full-background"
      style={{
        backgroundImage: `url(${thumb_src})`,
        backgroundSize: "cover",
      }}
    >
    </div>
    <div
      class={`card-body ${classBody} d-flex flex-column justify-content-end`}
    >
      <div class="d-block mt-4 mt-md-6 mt-lg-10">
        <p class="text-white font-weight-bold mb-1">{collection}</p>
        <h4 class="text-white font-weight-bolder">{title}</h4>
        <a href={url} class="text-white text-sm font-weight-semibold mb-0">
          See products &#62;
        </a>
      </div>
    </div>
  </div>
</div>
