---
import { BASE_URL } from "../../configs/constant.conf";
import ProductBadge from "./ProductBadge.astro";

interface Props {
  thumb_src: string;
  thumb_alt: string;
  title: string;
  description: string;
  price: number;
  color: string;
  colors: string[];
  position: string;
  href: string;
}
const {
  thumb_src,
  thumb_alt,
  title,
  description,
  price,
  color,
  colors,
  position,
  href,
}: Props = Astro.props;
const classList = "card-body " + "text-" + position;
---

<div class="card card-product border mb-5 shadow-xs border-radius-lg">
  <a href={href}>
    <div class="height-350">
      <img
        class="w-100 h-100 p-4 rounded-top"
        src={`${BASE_URL}${thumb_src}`}
        alt={thumb_alt}
      />
    </div>
    <div class={classList}>
      {color && <h6 class="text-md mb-1 text-body">{color}</h6>}
      {title && <h4 class="font-weight-bold">{title}</h4>}
      {description && <p class="text-body">{description}</p>}
      {colors && <ProductBadge colors={colors} />}
      {
        price && (
          <h4 class="mb-0 text-lg mt-1 mb-3">${price.toLocaleString()}</h4>
        )
      }
      {
        !(description || colors || color) && (
          <a href="#" class="font-weight-normal text-body text-sm">
            Shop Now
          </a>
        )
      }
    </div>
  </a>
</div>
