---
import { Image } from "astro:assets";
import { MEDIA_HOST } from "@configs/constant.conf";

interface Props {
  title: string;
  full_description: string;
  data: any;
}
const { title, full_description, data }: Props = Astro.props;
---

<div class="card card-product card-plain">
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="mb-3">{title}</h2>
      <Fragment set:html={full_description} />
      <div class="nav-wrapper position-relative end-0 pb-4 border-bottom">
        <ul class="nav nav-pills nav-fill p-1 w-lg-50" role="tablist">
          {
            data.map((item: any, index: number) => {
              return (
                <li class="nav-item">
                  <a
                    class={`nav-link mb-0 px-0 py-1 ${index === 0 ? "active" : ""}`}
                    data-bs-toggle="tab"
                    href={`#tab-${index}`}
                    role="tab"
                    aria-controls={item.titlle.toLowerCase()}
                    aria-selected={index === 0 ? "true" : "false"}
                  >
                    {item.titlle}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
      <div class="tab-content tab-space">
        {
          data.map((item: any, index: number) => {
            return (
              <div
                class={`tab-pane ${index === 0 ? "active show" : ""}`}
                id={`tab-${index}`}
                role="tabpanel"
              >
                <div class="row mt-md-5">
                  <div class="col-12 col-lg-6 mb-lg-0 mb-4 pe-lg-10">
                    <h5 class="mt-4 mb-3 mt-md-5 mb-md-4">{item.titlle}</h5>
                    <Fragment set:html={item.content} />
                  </div>
                  <div class="col-12 col-lg-6 mb-lg-0 mb-4">
                    <Image
                      src={`${MEDIA_HOST}${item?.image?.node?.filePath || ""}`}
                      class="w-100 rounded-3"
                      alt={item?.image?.altText || ""}
                      width={636}
                      height={424}
                    />
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</div>
