---
interface Props {
  images: {
    src: string;
    alt: string;
  }[];
}
const { images }: Props = Astro.props;
---

<>
  <div class="d-block d-md-flex">
    <img
      class="w-100 max-height-200 rounded-3 mb-4 mb-md-0"
      src={`${import.meta.env.BASE_URL}images/product7.jpg`}
      alt={images[0].alt}
    />
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <img
        class="w-100 max-height-200 rounded-3"
        src={`${import.meta.env.BASE_URL}images/product8.jpg`}
        alt={images[2].alt}
      />
    </div>
    <div class="col-6">
      <img
        class="w-100 max-height-200 rounded-3"
        src={`${import.meta.env.BASE_URL}images/product9.jpg`}
        alt={images[3].alt}
      />
    </div>
  </div>
</>
