---
// export const prerender = true;
import Layout from "@layouts/Layout.astro";
import ProductOverviewGallery from "@components/products/ProductOverviewGallery.astro";
import CardProduct from "@components/products/CardProduct.astro";
import { wpQuery } from "@apis/graphqlClient";
import { GET_ALL_PRODUCTS_QUERY } from "@apis/queries";
import { MEDIA_HOST } from "@configs/constant.conf";

export const getStaticPaths = async () => {
  const { products } = await wpQuery({
    query: GET_ALL_PRODUCTS_QUERY,
  });

  const promise = products?.nodes.map((product: any) => {
    return {
      params: { slug: product?.slug },
      props: {
        product,
      },
    };
  });

  return Promise.all(promise);
};

const { product } = Astro.props;
---

<Layout title={product?.name || ""}>
  <main>
    <section class="section1 py-5">
      <div class="container">
        <div class="my-5">
          <ProductOverviewGallery
            primaryImage={product?.image}
            images={product?.galleryImages?.nodes || []}
            title={product?.name || ""}
            description={product?.excerpt || ""}
            full_description={product?.content || ""}
            price={product?.price || ""}
            data={product?.productAcf}
          />
        </div>
      </div>
    </section>
    <section class="section2 pb-5">
      <div class="container">
        <h3>Related Products</h3>
        <p>Explore more of our products</p>
        <div class="row mt-5">
          {
            product?.related?.nodes?.map((relatedProduct: any) => (
              <div class="col-md-6 col-lg-3">
                <CardProduct
                  href={`/product/${relatedProduct?.slug}`}
                  thumb_src={MEDIA_HOST + relatedProduct?.image?.filePath}
                  thumb_alt={relatedProduct?.image?.altText || ""}
                  title={relatedProduct?.name}
                  description={relatedProduct?.excerpt || ""}
                  price={relatedProduct.price}
                  position="center"
                />
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
